-- SQL para implementar clasificacion rentable/consumible en consumibles

-- 1. Agregar columna tipo_material a catalogo_consumibles si no existe
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'catalogo_consumibles' AND column_name = 'tipo_material') THEN
        ALTER TABLE catalogo_consumibles ADD COLUMN tipo_material TEXT DEFAULT 'RENTABLE';
    END IF;
END $$;

-- 2. Poblar tipo_material basado en datos existentes (usando subtipo_herramienta del JSON)
-- Herramientas (rentables) - si tienen subtipo_herramienta
UPDATE catalogo_consumibles SET tipo_material = 'RENTABLE' WHERE campos_personalizados->>'subtipo_herramienta' IS NOT NULL;
-- Consumibles (por defecto, si no tienen subtipo_herramienta)
UPDATE catalogo_consumibles SET tipo_material = 'CONSUMIBLE' WHERE campos_personalizados->>'subtipo_herramienta' IS NULL;

-- 3. Agregar columna requiere_devolucion a movimientos_bodega_consumibles si no existe
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'movimientos_bodega_consumibles' AND column_name = 'requiere_devolucion') THEN
        ALTER TABLE movimientos_bodega_consumibles ADD COLUMN requiere_devolucion BOOLEAN DEFAULT TRUE;
    END IF;
END $$;

-- 4. Poblar requiere_devolucion basado en tipo_material del catalogo
UPDATE movimientos_bodega_consumibles
SET requiere_devolucion = FALSE
WHERE material_codigo IN (
  SELECT codigo FROM catalogo_consumibles WHERE tipo_material = 'CONSUMIBLE'
);
