
-- Tabla de usuarios (ya existente, por referencia)
CREATE TABLE IF NOT EXISTS public.usuarios (
  id UUID NOT NULL DEFAULT gen_random_uuid(),
  nombre TEXT NOT NULL,
  usuario TEXT NOT NULL,
  contrasena TEXT NOT NULL,
  rol TEXT NOT NULL,
  puede_crear_usuarios BOOLEAN DEFAULT FALSE,
  activo BOOLEAN DEFAULT TRUE,
  creado_en TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  CONSTRAINT usuarios_pkey PRIMARY KEY (id),
  CONSTRAINT usuarios_usuario_key UNIQUE (usuario)
) TABLESPACE pg_default;

CREATE INDEX IF NOT EXISTS idx_usuarios_rol ON public.usuarios USING btree (rol) TABLESPACE pg_default;
CREATE INDEX IF NOT EXISTS idx_usuarios_usuario ON public.usuarios USING btree (usuario) TABLESPACE pg_default;
CREATE INDEX IF NOT EXISTS idx_usuarios_puede_crear ON public.usuarios USING btree (puede_crear_usuarios) TABLESPACE pg_default;

-- Los administradores pueden crear usuarios por defecto
UPDATE public.usuarios SET puede_crear_usuarios = TRUE WHERE rol = 'admin';

-- Nueva tabla de logs de auditoría
CREATE TABLE IF NOT EXISTS public.logs_auditoria (
  id SERIAL PRIMARY KEY,
  usuario_id UUID REFERENCES usuarios(id),
  usuario_nombre TEXT,
  tabla_afectada TEXT,
  operacion TEXT,  -- 'INSERT', 'UPDATE', 'DELETE'
  registro_id UUID,
  datos_nuevos JSONB,
  timestamp TIMESTAMP DEFAULT NOW()
) TABLESPACE pg_default;

CREATE INDEX IF NOT EXISTS idx_logs_usuario ON public.logs_auditoria (usuario_id);
CREATE INDEX IF NOT EXISTS idx_logs_timestamp ON public.logs_auditoria (timestamp);

-- Agregar usuario_id a tablas clave
ALTER TABLE movimientos_bodega_audiovisual ADD COLUMN IF NOT EXISTS usuario_id UUID REFERENCES usuarios(id);
ALTER TABLE movimientos_bodega_hierros ADD COLUMN IF NOT EXISTS usuario_id UUID REFERENCES usuarios(id);
ALTER TABLE movimientos_bodega_consumibles ADD COLUMN IF NOT EXISTS usuario_id UUID REFERENCES usuarios(id);
ALTER TABLE solicitudes_logistica ADD COLUMN IF NOT EXISTS usuario_id UUID REFERENCES usuarios(id);
ALTER TABLE despachos_logistica ADD COLUMN IF NOT EXISTS usuario_id UUID REFERENCES usuarios(id);
ALTER TABLE items_solicitud_logistica ADD COLUMN IF NOT EXISTS usuario_id UUID REFERENCES usuarios(id);
ALTER TABLE items_despacho_logistica ADD COLUMN IF NOT EXISTS usuario_id UUID REFERENCES usuarios(id);

