-- Crear tabla corregida para notificaciones del sistema
CREATE TABLE notificaciones_sistema (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  tipo TEXT NOT NULL, -- 'evento_creado', 'venta_registrada', 'solicitud_enviada', etc.
  titulo TEXT NOT NULL,
  mensaje TEXT NOT NULL,
  usuario_origen UUID REFERENCES auth.users(id),
  nombre_usuario_origen TEXT, -- Para mostrar 'Juan creó un evento'
  modulo TEXT, -- 'ventas', 'bodega', 'rrhh', 'logistica'
  referencia_id TEXT, -- ID del registro relacionado (ID del evento, venta, etc.)
  destinatarios JSONB DEFAULT '"todos"'::jsonb, -- 'todos' o array de user_ids
  fecha_creacion TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  leida_por JSONB DEFAULT '[]'::jsonb, -- Array de user_ids que ya la leyeron
  activa BOOLEAN DEFAULT true
);

-- Índices para rendimiento
CREATE INDEX idx_notificaciones_fecha ON notificaciones_sistema(fecha_creacion DESC);
CREATE INDEX idx_notificaciones_activa ON notificaciones_sistema(activa) WHERE activa = true;
CREATE INDEX idx_notificaciones_destinatarios ON notificaciones_sistema USING gin(destinatarios);

-- Políticas RLS
ALTER TABLE notificaciones_sistema ENABLE ROW LEVEL SECURITY;

-- Todos pueden ver notificaciones activas
CREATE POLICY "Users can view active notifications" ON notificaciones_sistema
    FOR SELECT USING (activa = true);

-- Solo el sistema puede insertar notificaciones (por ahora permitimos todos)
CREATE POLICY "System can insert notifications" ON notificaciones_sistema
    FOR INSERT WITH CHECK (true);

-- Los usuarios pueden actualizar (marcar como leída)
CREATE POLICY "Users can update own read status" ON notificaciones_sistema
    FOR UPDATE USING (true);
